<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="/assets/css/styles_autenticado.css">
    <script src="/assets/js/autenticado.js"></script>
</head>
<body>
    <div class="login-container">
        <h1>Authenticated menu</h1>
	<div class="button-container">
	    <form action="/change" method="GET">
            <button type="submit" id="change">Change my password</button>
	    </form>
	    <form action="/logout" method="POST">
            <button type="submit" id="logout">Logout</button>
            </form>
	</div>
    </div>
</body>
</html>
